@charset "utf-8";
/* CSS Document */
.footer {
	background-color: #FFCBEB;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	text-align: left;
	font-size:12px ;
	color: #150000;
}

.banner-home{
	background-image: url("./img/mainTitleBanner.jpg");
	background-repeat: no-repeat;
	background-position: center;
	vertical-align: top;
	height: 500px;
}

.banner-home h1{
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-size: 55px;
	text-align: center;
	color: #271F1F;
	font-style: italic;
	font-weight: bold;
}

.navigation-flex {
	display: flex;
	justify-content: space-around;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 21px;
	border: 2px solid #555;
	background-color: #A3EEA2;
}

.contact-area {
	font-size: 15px;
	list-style-type: none;
	border: 2px solid #555;
	background-color: lightyellow;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"
}

.contact-area-contactus {
	font-size: 18px;
	font-weight: bold;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif"
}

.navigation-text {
	text-decoration: none;
	color: red;
}

